## Ignore Visual Studio temporary files, build results, and database files

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio cache and settings
.vs/
.suo
.user
.userosscache
.sln.docstates

# SQLite databases (keep seeded db if needed, or gitignore temporary WAL and SHM files)
*.db-shm
*.db-wal

# User-specific files
*.rsuser
*.suo
*.user
*.userfiles

# RIDER
.idea/

# OS files
.DS_Store
Thumbs.db
